version: '3.8'

services:
  api:
    build: ./api
    ports:
      - "3001:3001"
    volumes:
      - ./api:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - PORT=3001
    container_name: api

  ui:
    build: ./ui
    ports:
      - "3000:3000"
    volumes:
      - ./ui:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - PORT=3000
    container_name: ui
