# Server
NODE_ENV=development
CLIENT_URL=http://localhost:3000
PORT=3002

# JWT
JWT_SECRET=a3f9c1e2b47d8e9f0a1b2c3d4e5f67890123456789abcdef0123456789abcd
JWT_EXPIRY=30d
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
JWT_REFRESH_SECRET=7f5e3d1c9b2a4e6f8d0b2c4a6e8f0a2134567890abcdef1234567890abcdef

# Redis
REDISHOST=redis
REDISPORT=6379
REDISPASSWORD=root
REDIS_TTL=604800

# MySQL
MYSQLHOST=db
MYSQLPORT=3306
MYSQLUSER=nozorin
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=nozorin_db

# IP LOCATE
IPLOCATE_API_KEY=your_api_key_here

# Socket / Realtime Service
SOCKET_SERVICE_URL=http://realtime:3002
INTERNAL_API_SECRET=your_internal_api_secret_here
