NEXT_PUBLIC_SOCKET_URL=http://localhost:3002
NEXT_PUBLIC_ENABLE_ICE_DEBUG=false

NEXT_PUBLIC_API_URL=http://localhost:3001

NEXT_PUBLIC_XIRSYS_USERNAME=
NEXT_PUBLIC_XIRSYS_CREDENTIAL=
JWT_SECRET=your-secret-key-here